/* TODO::
* fall back fonts (not just 'sans-serif)
* resposive sizing upward - tablet, desktop
* Style light/dark mode button
* change nav links to buttons with same styling and a click effect
* get tablet view nav bar to scroll
* and max amout 'by' goes right
*fix scrolling and sizing when snippets are open
*/


/*-------- Default: mobile view---------- */

:root {
    --dark-shade: #09141f;
    --light-shade: #869ba9;
    --nav-accent: #178582;
    --alt-accent:  #BFA181;


    --alt-dark-shade: #052031;
    --alt-light-shade: #dfe8ee;

    --darkest-shade: #070c11;


    --heading-font: 'Quicksand';
    --nav-font: 'Open Sans';
    --p-font: 'Open Sans'
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--alt-dark-shade);
    color: var(--light-shade);
    font-family: var(--p-font), sans-serif;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-auto-rows: minmax(45vh, auto) minmax(55vh, auto) auto auto;


}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 40px 50px 0px 50px;
    
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px 50px;
    
}

main {
    grid-area: main;
    
}

footer {
    grid-area: footer;
    padding: 20px 50px;
    background-color: var(--light-shade);
    display: flex;
    justify-content: end;
}

/* --- ABOVE COVER ---*/

.bottom-border {
    display: none;
}

.title {
    color: var(--alt-accent);
    font-family: var(--heading-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title h1{
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.title h2 {
    font-size: 1rem;
    align-self: center;
    
}

.title p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;

}

.intro li {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

nav h2 {
    font-size: 1rem;
    font-family: var(--heading-font);
    margin-bottom: 20px;
    text-align: center;

}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:220px;
    grid-auto-rows: minmax(min-content, auto);
    gap: 20px;
    font-size: 1rem;
    justify-items: center;
    align-content: center;
    
    align-self: center;
    
    margin-bottom: 20px;
   

}

nav li {
    background-color: var(--darkest-shade);
    box-shadow: 0 0 20px 1px var(--darkest-shade);
    height: 100px;
    width: 100px;
    list-style-type: none;
    color: var(--nav-accent);
    font-family: var(--nav-font);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

a {
    text-decoration: none;
    color: var(--nav-accent);
}

.nav-project {
    
    width: 220px;
    
}

.nav-project li {
    height: 50px;
    width: 100%;
    grid-column: 1 / 3;

}

/*----PALINDROME----*/

#palindrome {
    padding: 50px;
    background-color: var(--dark-shade);
}

main p {
    font-family: var(--p-font);
    margin-bottom: 0.8em;
}

main h1 {
    color: var(--alt-accent);
    margin-bottom: 1em;
    scroll-margin-top: 6em;
    font-family: var(--heading-font), sans-serif;
    
}

main h2 {
    margin-bottom: 0.5em;
    font-family: var(--heading-font), sans-serif;
}

#palindrome-reveal {
    display: none;
    visibility: hidden;
}

.reveal h2 {
    font-size: 3rem;
}

.add-class-reveal {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

/*---   PALINDROME FORM ---*/

form {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    font-size: 1rem;
    font-weight: 400;
}

input {
    border: 1px solid var(--nav-accent);
    background-color: var(--alt-dark-shade);
    color: var(--alt-light-shade);
    padding: 0.5rem;

}

input:focus {
    border-width: 2.5px;
    outline: none;
}

form * {
    margin-bottom: 1em;
}

.input-with-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-with-btn input {
    width: 50%;
    height: 2rem;
    margin-right: 2em;
}

.btn-reset {
}

.btn {
    background-color: var(--alt-light-shade);
    color: var(--nav-accent);
    font-weight: bold;
    font-family: var(--nav-font);
    font-size: 1.1rem;
    padding: 0.2rem 0.3rem;
    box-shadow: 5px 5px black;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    translate: 0px 2px;
}

.reveal-btn {
    
}

.reveal-btn:active {
    box-shadow: 0px 0px;
    translate: 5px 5px;

}

/*---ROMAN --- */

#roman-reveal {
    display: none;
    visibility: hidden;
}



/*---- CODE SNIPPET SECTION ---*/

#palindrome-snippet {
    display: none;
    visibility: hidden;
}

#roman-snippet {
    display: none;
    visibility: hidden;
}

#roman-explain {
    display: none;
    visibility: hidden;
    flex-direction: column;
}

section h2 {
    margin-bottom: 1em;
}

.code-snippet-section {
    border-top: 5px dotted var(--alt-accent);
    padding-top: 20px;
}

.view-code-invite {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-between;
    min-height: 5em;
    padding-top: 1em;
}

.code-explain-invite {
    margin-bottom: 1em;

}

.code-snippet-section div {
    margin-bottom: 3em;
}


pre {
    background-color: var(--light-shade);
    color: var(--dark-shade);
    padding: 1em;
    border-radius: 1%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--nav-accent);
    box-shadow: inset var(--dark-shade) 0px 0px 30px -10px;
    overflow-x: scroll;
}

.code-explain h3 {
    margin-bottom: 0.8em;
    font-family: var(--heading-font), sans-serif;
}

#roman-snippet {
    overflow-x: scroll;
}

#palindrome-snippet {
    overflow-x: scroll;
}

/*----- TODO:: --------*/

#roman {
    padding: 50px;
    background-color: var(--alt-dark-shade);
}

#cipher {
    padding: 50px;
    background-color: var(--alt-accent);
    position: relative;
    top: 20px;
    color: var(--alt-dark-shade);

}

#cipher h1 {
    color: var(--alt-dark-shade);
}

/*---- FOOTER ---*/

footer a {
    color: var(--alt-dark-shade);
}

img {
    width: 20px;
    margin-left: 20px;
}



/* ---------- TABLET VIEW ----------*/

@media (min-width: 481px) and (max-width: 780px) {

    body {
        grid-template-columns: minmax(auto, 200px) 2fr;
        row-gap: 20px;
        column-gap: 0px;
        grid-template-areas: 
            "nav header"
            "nav header"
            "nav main"
            "nav footer";
        grid-auto-rows: minmax(50vh, auto) minmax(50vh, auto) auto auto;
    }

    nav {
        background-color: var(--alt-light-shade);
        padding: 25px;
    }

    nav ul {
        grid-template-columns: 1fr;
        width: auto;
    }

    .nav-project {
    
        
    }
    
    .nav-project li {
        height: 100px;
        width: 100px; 
        padding: 2px;
        text-align: center;

    
    }

    nav h2 {
        color: var(--alt-dark-shade);
        text-wrap: wrap;
    }

    ul.hidden {
        display: flex;

    }


    header {
        justify-content: space-evenly;
    }
    

}

/* --- DESKTOP ---*/


@media (min-width: 780px) {
    body {
        grid-template-columns: 20vw 10fr 20vw;
        row-gap: 20px;
        column-gap: 0px;
        grid-template-areas: 
            "nav nav nav"
            ". header ."
            ". main ."
            "footer footer footer";
        grid-auto-rows: minmax(150px, auto) minmax(50vh, auto) auto auto;
    }

    /* -- nav contains ul .hidden, .ha-al, .nav-algorithms, .h2-proj, .nav-project --*/
    nav {
        z-index: 99;
        display: grid;
        /* -- The total width is the view port width and the total of the grid column widths and the 4 column gaps need to total 100vw. The body outer columns are 20vw so at the moment the nav outer colums 15vw + a gap 5vw =20vw--*/
        width: 100vw;
        grid-template-columns: 15vw minmax(4.5vw, 7.5vw) minmax(30vw, 35vw) minmax(70px, 7.5vw)  15vw;
        column-gap: 5vw;
        grid-template-areas: 
            ". . h2-al h2-proj ."
            ". home nav-al nav-proj ."
        ;
        padding: 0;
        justify-items: end;
        align-items: center;
        border-bottom: dashed #869ba9 2px;
        
    }

    .bottom-border {
        grid-area: bottom-border;
    }

/* --- ul.hidden  --- */
    ul.hidden {
        display: flex;
        grid-area: home;
        /* -- width, justify-items, align-self, margin-bottom --*/
        width: auto;
        height: auto;
        text-align: end;
        justify-content: end;
        margin-bottom: 0;
    }

    ul.hidden li {
        background-color: var(--alt-dark-shade);
        box-shadow: 0 0 0 0;
        height: auto;
        width: auto;

    }

    .h2-al {
        grid-area: h2-al;
         /* -- margin-bottom was 20px -- */
         margin-bottom: 0;
         /* -- text align was center --*/
         text-align: end;
         justify-self: center;
         text-decoration: underline;
         text-underline-offset: 4px;
    }

    .nav-algorithms {
        grid-area: nav-al;
        /* -- grid was set to 1fr 1fr, width 200px, grid-auto-rows, gap 20px, justify-items, justify content, slign self, margin-bottom 20px -- */
        display: flex;
        width: auto;
        margin-bottom: 0px;
        text-align: end;
        justify-content: end;
    }

    .nav-algorithms li {
        /* -- box-shadow, background-color, height and width were set to 100px, display flex with align items, justify content and text align set tot center -- */
        background-color: var(--alt-dark-shade);
        box-shadow: 0 0 0 0;
        height: auto;
        width: auto;

    }


    .h2-proj {
        grid-area: h2-proj;
        /* -- margin-bottom was 20px -- */
        margin-bottom: 0;
        /* -- text align was center --*/
        text-align: end;
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    .nav-project {
        grid-area: nav-proj;
        /* -- display previously grid, change to flex. Width previously 220px - reset. margin bottom previously 20px - reset. --*/
        display: flex;
        width: auto;
        margin-bottom: 0px;
        justify-content: end;

    }

    .nav-project li {
        background-color: var(--alt-dark-shade);
        /* -- size previously set to height 50px, width 100% -- */
        height: auto;
        width: auto;
        /* --box shadow reset --*/
        box-shadow: 0 0 0 0;
    }

/* --- HEADER ---*/

header {
    margin-bottom: 50px;
}

/* --- Main --- */
#palindrome, #roman {
    background-color: var(--dark-shade);
    margin-bottom: 50px;
    border-radius: 2%;
}
}
