/* TODO::
* fall back fonts (not just 'sans-serif)
* arialabels etc
* resposive sizing upward - tablet, desktop
* Style light/dark mode button
* change nav links to buttons with same styling and a click effect
*/


/*-------- Default: mobile view---------- */

:root {
    --dark-shade: #09141f;
    --light-shade: #869ba9;
    --nav-accent: #178582;
    --alt-accent:  #BFA181;


    --alt-dark-shade: #052031;
    --alt-light-shade: #dfe8ee;

    --darkest-shade: #070c11;


    --heading-font: 'Quicksand';
    --nav-font: 'Open Sans';
    --p-font: 'Open Sans'
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--alt-dark-shade);
    color: var(--light-shade);
    font-family: var(--p-font), sans-serif;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-auto-rows: minmax(45vh, auto) minmax(55vh, auto) auto auto;


}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 40px 50px 0px 50px;
    
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px 50px;
    
}

main {
    grid-area: main;
    
}

footer {
    grid-area: footer;
    padding: 20px 50px;
    background-color: var(--light-shade);
    display: flex;
    justify-content: end;
}

/* --- ABOVE COVER ---*/

.title {
    color: var(--alt-accent);
    font-family: var(--heading-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title h1{
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.title h2 {
    font-size: 1rem;
    align-self: center;
    
}

.title p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;

}

.intro li {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

nav h2 {
    font-size: 1rem;
    font-family: var(--heading-font);
    margin-bottom: 20px;
    text-align: center;

}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:220px;
    grid-auto-rows: minmax(min-content, auto);
    gap: 20px;
    font-size: 1rem;
    justify-items: center;
    align-content: center;
    
    align-self: center;
    
    margin-bottom: 20px;
   

}

nav li {
    background-color: var(--darkest-shade);
    box-shadow: 0 0 20px 1px var(--darkest-shade);
    height: 100px;
    width: 100px;
    list-style-type: none;
    color: var(--nav-accent);
    font-family: var(--nav-font);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

a {
    text-decoration: none;
    color: var(--nav-accent);
}

.nav-project {
    
    width: 220px;
    
}

.nav-project li {
    height: 50px;
    width: 100%;
    grid-column: 1 / 3;

}

/*----PALINDROME----*/

#palindrome {
    padding: 50px;
    background-color: var(--dark-shade);
}

main p {
    font-family: var(--p-font);
    margin-bottom: 0.8em;
}

main h1 {
    color: var(--alt-accent);
    margin-bottom: 1em;
    scroll-margin-top: 6em;
    font-family: var(--heading-font), sans-serif;
    
}

main h2 {
    margin-bottom: 0.5em;
    font-family: var(--heading-font), sans-serif;
}

#palindrome-reveal {
    display: none;
    visibility: hidden;
}

.reveal h2 {
    font-size: 3rem;
}

.add-class-reveal {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

/*---   PALINDROME FORM ---*/

form {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    font-size: 1rem;
    font-weight: 400;
}

input {
    border: 1px solid var(--nav-accent);
    background-color: var(--alt-dark-shade);
    color: var(--alt-light-shade);
    padding: 0.5rem;

}

input:focus {
    border-width: 2.5px;
    outline: none;
}

form * {
    margin-bottom: 1em;
}

.input-with-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-with-btn input {
    width: 50%;
    height: 2rem;
    margin-right: 2em;
}

.btn-reset {
}

.btn {
    background-color: var(--alt-light-shade);
    color: var(--nav-accent);
    font-weight: bold;
    font-family: var(--nav-font);
    font-size: 1.1rem;
    padding: 0.2rem 0.3rem;
    box-shadow: 5px 5px black;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    translate: 0px 2px;
}

.reveal-btn {
    
}

.reveal-btn:active {
    box-shadow: 0px 0px;
    translate: 5px 5px;

}

/*---ROMAN --- */

#roman-reveal {
    display: none;
    visibility: hidden;
}



/*---- CODE SNIPPET SECTION ---*/

#palindrome-snippet {
    display: none;
    visibility: hidden;
}

#roman-snippet {
    display: none;
    visibility: hidden;
}

#roman-explain {
    display: none;
    visibility: hidden;
    flex-direction: column;
}

section h2 {
    margin-bottom: 1em;
}

.code-snippet-section {
    border-top: 5px dotted var(--alt-accent);
    padding-top: 20px;
}

.view-code-invite {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-between;
    min-height: 5em;
    padding-top: 1em;
}

.code-explain-invite {
    margin-bottom: 1em;

}

.code-snippet-section div {
    margin-bottom: 3em;
}


pre {
    background-color: var(--light-shade);
    color: var(--dark-shade);
    padding: 1em;
    border-radius: 1%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--nav-accent);
    box-shadow: inset var(--dark-shade) 0px 0px 30px -10px;
    overflow-x: scroll;
}

.code-explain h3 {
    margin-bottom: 0.8em;
    font-family: var(--heading-font), sans-serif;
}

/*----- TODO:: --------*/

#roman {
    padding: 50px;
    background-color: var(--alt-dark-shade);
}

#cipher {
    padding: 50px;
    background-color: var(--alt-accent);
    position: relative;
    top: 20px;
    color: var(--alt-dark-shade);

}

#cipher h1 {
    color: var(--alt-dark-shade);
}

/*---- FOOTER ---*/

footer a {
    color: var(--alt-dark-shade);
}

img {
    width: 20px;
    margin-left: 20px;
}